<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="payme" frontName="payme">
            <module name="KiT_Payme"/>
        </route>
        <route id="order_return" frontName="order_return">
            <module name="KiT_Payme"/>
        </route>
    </router>
</config>